*node_modules/
.vscode/

*reports/

# LH output
*.trace.json
*.devtoolslog.json
*.screenshots.html
*.screenshots.json
*.report.html
*.report.dom.html
*.report.json
*.report.csv
*.report.pretty
*.artifacts.log
*output/

# vimdiff files
*.orig
